<style>
    .nav-title {
        color: white;
    }
</style>

<div class="sidebar">
    <nav class="nav flex-column">
        <h3 class="nav-title">Sistema gestor de inventario</h3>

        <NavLink class="nav-link" href="/ajustes">
            <span class="oi oi-dashboard" aria-hidden="true"></span> Ajustes
        </NavLink>

        <NavLink class="nav-link" href="/Productoes">
            <span class="oi oi-box" aria-hidden="true"></span> Productos
        </NavLink>

        <NavLink class="nav-link" href="/Proveedors">
            <span class="oi oi-people" aria-hidden="true"></span> Proveedores
        </NavLink>

        <NavLink class="nav-link" href="/almacens">
            <span class="oi oi-home" aria-hidden="true"></span> Almacenes
        </NavLink>

        <NavLink class="nav-link" href="/Categoriums">
            <span class="oi oi-tag" aria-hidden="true"></span> Categorías
        </NavLink>

        <NavLink class="nav-link" href="/Inventarios">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Inventario
        </NavLink>

        <NavLink class="nav-link" href="/Entradums">
            <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> Entradas
        </NavLink>

        <NavLink class="nav-link" href="/Salidums">
            <span class="oi oi-arrow-circle-bottom" aria-hidden="true"></span> Salidas
        </NavLink>

      
    </nav>
</div>
